
@{
    ViewData["Title"] = "Index";
}
@model Sol_Encode.Models.UserModel
<h1>Index</h1>

<form asp-controller="UrlEncoderDemo" asp-action="OnSubmit">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="txtFullName">Full Name</label>
                    <input id="txtFullName" type="text" asp-for="FullName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="btnSubmit" type="submit" class="btn btn-primary" value="Submit" />

                @if (Model?.FullName != null)
                {
                    <a asp-route="onget" asp-route-value="@Html.Raw(Model.FullName)">Click Me</a>
                    @*<a asp-route="onget" asp-route-value="Hello">Click Me</a>*@
                }

            </div>

        </div>
    </div>
</form>

